root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.yml,*.yaml]
indent_size = 2

[*.json]
indent_size = 2

[*.ts,*.js]
indent_size = 2

[*.cpp,*.h,*.cc]
indent_size = 4

[*.rs]
indent_size = 4

[*.py]
indent_size = 4

[Makefile]
indent_style = tab

[*.cmake,CMakeLists.txt]
indent_size = 4
